build/
dist/
JiraApplensAutomationTool.egg-info/
__pycache__/
JiraToApplens.spec
*.pyc
.env
.vscode/
*.log
.DS_Store
.idea/
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.old
*.iml
*.class
*.jar
*.war
*.zip
*.tar.gz
*.egg
*.egg-info/
*.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
pip-wheel-metadata/
.mypy_cache/
.pytest_cache/
.spec/
.ipynb_checkpoints/
.xlsx
.csv
.txt